# Nestjs specific
/dist
**/dist
/node_modules
**/node_modules
/build
/tmp
.turbo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

# temp directory
.temp
.tmp
/.idea/
http-client.private.env.json
**/http-client.private.env.json
/apps/admin-web/coverage/
/.codex/
